@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #31d0be;
  --toastify-color-success: var(--primary-color);
}

.clear-link {
  color: inherit;
  text-decoration: none;
}

.underline {
  background: var(--primary-color);
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Neon effect */
.neon-container {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid rgba(49,208,190, 0.8);
  /* border: 2px solid rgba(1, 235, 252, 0.8); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 30px rgba(49,208,190, 0.8),
    inset 0px 0px 10px rgba(49,208,190, 0.8),
    0px 0px 5px rgba(255, 255, 255, 0.8);
  /* box-shadow: 0px 0px 30px rgba(1, 235, 252, 0.8),
    inset 0px 0px 10px rgba(1, 235, 252, 0.8),
    0px 0px 5px rgba(255, 255, 255, 0.8); */
  animation: flicker 8s ease-in-out infinite;
}

@keyframes flicker {
    0%, 80%, 82%, 84%, 88%, 91%, 97%, 100% {
    border: 2px solid rgba(49,208,190, 0.8);
    /* border: 2px solid rgba(1, 235, 252, 0.8); */
    box-shadow: 0px 0px 30px rgba(49,208,190, 0.8),
      inset 0px 0px 10px rgba(49,208,190, 0.8),
      0px 0px 5px rgba(255, 255, 255, 0.8);
    /* box-shadow: 0px 0px 30px rgba(1, 235, 252, 0.8),
      inset 0px 0px 10px rgba(1, 235, 252, 0.8),
      0px 0px 5px rgba(255, 255, 255, 0.8); */
  }

  81%, 83%, 90%, 92% {
    border: none;
    box-shadow: none;
  }
}
